ALIFE2026Proceedings.pdf filter=lfs diff=lfs merge=lfs -text
ALIFE2026Summaries.pdf filter=lfs diff=lfs merge=lfs -text
ALIFE2026LateBreakingAbstracts.pdf filter=lfs diff=lfs merge=lfs -text
P06_Digital_Twins_for_Fungal_Computing_Bhattacharyya_v1.pdf filter=lfs diff=lfs merge=lfs -text
P13_Mathematical_Foundations_of_ALife_Song.pdf.pdf filter=lfs diff=lfs merge=lfs -text
P17_Topology_That_Learns.pdf filter=lfs diff=lfs merge=lfs -text
P21_Per_Node_Activation_Evolution.pdf filter=lfs diff=lfs merge=lfs -text
Posters-ALIFE2026-Program-Ver-2026-08-03-Rev6-TEST-UPLOAD.pdf filter=lfs diff=lfs merge=lfs -text
P32_Opinion_Evolution_Sayama.pdf filter=lfs diff=lfs merge=lfs -text
LB138_Pixel_Space_Diffusion.pdf filter=lfs diff=lfs merge=lfs -text
P14_Existential_Unawareness_Ke.pdf filter=lfs diff=lfs merge=lfs -text
P23_Self_Modifying_Genetic_Programming.pdf filter=lfs diff=lfs merge=lfs -text
P26_Phylogenetically_Mixed_Architectures.pdf filter=lfs diff=lfs merge=lfs -text
LB103_8_Bit_Fluids.pdf filter=lfs diff=lfs merge=lfs -text
P04_MR_Systems_Grounding.pdf filter=lfs diff=lfs merge=lfs -text
P11_Proxy_Exploitation_Ma.pdf filter=lfs diff=lfs merge=lfs -text
P16_Emergent_Culture_Jones.pdf filter=lfs diff=lfs merge=lfs -text
P18_Observer_Based_Pattern_Discovery_Buhl.pdf filter=lfs diff=lfs merge=lfs -text
P35_Dreaming_Itself_Li.pdf filter=lfs diff=lfs merge=lfs -text
